# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\practiceForBig\450_ds_algo_problems\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
